# Deauthorize USB Bluetooth controllers (Wireless Controller class, RF Controller protocol)
SUBSYSTEM=="usb", ATTR{bDeviceClass}=="e0", ATTR{bDeviceSubClass}=="01", ATTR{bDeviceProtocol}=="01", ATTR{authorized}="0"

# Also deauthorize interfaces on composite devices that expose Bluetooth
SUBSYSTEM=="usb", ENV{ID_USB_INTERFACES}=="*:e00101:*", ATTR{authorized}="0"



